.sofa_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.sofa_card {
    border: 1px solid lightgrey;
    padding: 15px; 
}

.sofa_info > a {
    color: black;
    font-weight: 400;
    text-decoration: none;
}

.sofa_info > a:hover {
    text-decoration: underline;
    color: grey;
}

.sofa_imagewrapper {
    width: 100%; 
}

.sofa_img {
    width: 350px;
    display: flex;
    justify-content: center;
}



.sofa_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -20px;
}

.sofa_price_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}


.shipping {
    color: red;
    margin-top: -5px;
}