.latestproduct__wrapper > h1 {
   text-align: center;
   padding: 18px 0;
}

.wrapper {
    display: flex;
    align-items: center;
}

.latestproducts__container {
    display: flex;
}


{/*Product*/}

.product__container > img {
    width: 450px;
    height: 360px;  
}

.info__container > a {
    text-decoration: none;
    color: black;
}

.info__container {
    display: flex;
    flex-direction: row;
}

.info__container > p {

}

.product__container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

